.apply {
    background-color: #ecf5f8;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    .pro-header {
        background-color: #ecf5f8;
        width: 80%;
        // height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .pro-content-container {
            .title {
                // background-color: #434343;
                color: #434343;
            }
            .desc {
                font-size: 20px;
            }
        }
        
        .image-container {
            width: 200px;
            height: 200px;
            
        }
    }
    .pro-headline {
        margin-left: auto;
        margin-right: auto;
        height: 1px;
        line-height: 1.61em;
        background-color: #dbe1e4;
        text-align: center;
        .pro-headline-text {
            font-size: 4em;
            top: -0.55em;
            padding-right: 30px;
            padding-left: 30px;
        }
    }
    
}