@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.login-container {
	background-image: url("login-background.png");
	opacity: 0.8;

	background-size: 800px 700px;
	background-repeat: repeat;
}
.login-form {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Montserrat", sans-serif;

	.box {
		margin-top: 100px;
		margin-bottom: 100px;
		min-width: 400px;
		min-height: 500px;
		background-color: #ffffff;
		box-shadow: 0px 0px 10px #0e0e0e82;
		display: flex;
		flex-direction: column;
		padding: 40px;
		border-radius: 10px;
		h2 {
			color: #0089fe;
			font-size: 22px;
			text-align: left;
			margin-bottom: 30px;

			border-bottom: 1px solid;
			padding-bottom: 3px;
			display: inline-block;
		}
		label {
			margin-top: 10px;
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: 500;
		}
		button {
			margin-top: 50px;
			width: 100px;
		}
		.help-block {
			color: red;
		}
	}
}

/* responsive */
@media only screen and (max-width: 375px) {
	.login-form .box {
		min-width: 100%;
		padding: 30px;
	}
	.login-form {
		min-width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	.login-form .box {
		min-width: 100%;
		padding: 30px;
	}
	.login-form {
		min-width: 100%;
	}
}
@media only screen and (max-width: 1220px) {
	.login-form .box {
		min-width: 100%;
		padding: 30px;
	}
	.login-form {
		min-width: 100%;
	}
}
@media only screen and (max-width: 1440px) {
	.login-form .box {
		min-width: 100%;
		padding: 30px;
	}
	.login-form {
		min-width: 100%;
	}
}
