.content {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	font-family: "lato", sans-serif;
	color: #fff;
	background: rgba(29, 144, 215, 0.605);
}

.container {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	background-color: fff;
}
