.content {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	font-family: "lato", sans-serif;
	color: #fff;
	background: #fff;
}

.reg-form-header {
	font-weight: bold;
	margin-bottom: 15px;
	margin-left: 90px;
	color: black;
	font-size: 30px;
}
