.shelf-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .item-left {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        img {
            width: 5rem;
            height: 5rem;
        }
        .shelf-item_details {
            margin-left: 2rem;
        }
    }
    .item-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-start;
        width: 40vw;
        max-width: 60rem;
        .shelf-item_price {
            margin: 2rem 4rem;
        }
        .shelf-item_quanity {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: flex-start;
        }
        .shelf-item_total {
            margin: 2rem 4rem;
        }
    }
    
}