*{

	// border: 1px black solid;
    // padding: 5px;
    
}

.review__container{

    padding: 4vh 0 4vh 0;
    background-color: white;
    background-size: 100% auto;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    .review__body {
		max-width: 1200px;
		width: 65vw;
		min-width: 550px;

        h2{
            margin: 1rem 0 0 0;
            display: flex;
            width: 100%;
            color: #333333;
            font-size: 2.5rem;
            
        }

        h3{
            margin: 1rem 0 0 0;
            display: flex;
            width: 100%;
            color: #333333;
            font-size: 1.5rem;
        }


    }
}

// @media screen and (min-width: 1220px) {
// 	.search__container{

// 		background: url('../../img/banner.jpg') no-repeat 100%;
// 		background-size: 100% auto;
		
// 		.search__banner{

// 			opacity: 0.9;

// 			max-width: 666px;
// 			width: 75vmax;
// 			max-height: 220px;
// 			height: 35vmin;
// 			min-height: 170px;

// 			margin: 9vmin;

// 			// h2{
// 			// 	line-height: 40px;
// 			// 	color: #555555;
// 			// 	font-family: Arial, Gadget, sans-serif;
// 			// 	padding: 5vmin 3vmin 0 3vmin;
// 			// 	font-size: 2.4rem;
// 			// 	font-weight: 700;
// 			// 	text-shadow: 0.5px 0.5px gray;

// 			// }

// 			// .smallScreen{
// 			// 	display: none;
// 			// }

// 			// .search__bar{

// 			// 	bottom: 4vmin;
// 			// 	height: 50px;

// 			// 	input{

// 			// 		width: 80%;
// 			// 		height: 50px;
// 			// 		font-size: 16px;
// 			// 		text-shadow: 0.3px 0.3px gray;

// 			// 	}

// 			// 	button{

// 			// 		height: 50px;
// 			// 		width: 50px;

// 			// 	}
// 			// }
// 		}
// 	}
// }



// @media screen and (min-width: 768px) and (max-width: 1219px) {
// 	.search__container{
		
// 		background: url('../../img/banner.jpg') no-repeat 100%;
// 		background-size: 100% auto;

		
// 		.search__banner{

// 			opacity: 0.9;
	
// 			max-width: 600px;
// 			width: 70vmax;
// 			min-width: 300px;
// 			max-height: 200px;
// 			height: 10vmin;
// 			min-height: 100px;


// 			margin: 2vmin 0 2vmin 0;

// 			h2{

// 				margin-top: 1.3vmax;
// 				padding: 0;
// 				font-size: 1.7rem;
// 				font-weight: 400;
// 				text-align: center;
// 			}
	
// 			.smallScreen{
// 				display: none;
// 			}

// 			.search__bar{
	
// 				bottom: 1.7vmax;
// 				height: 20px;
	
// 				input{

// 					width: 70%;
// 					height: 35px;
// 					font-size: 12px;	

// 				}
	
// 				button{

// 					height: 35px;
// 					width: 35px;

// 				}
// 			}
// 		}
// 	}
// }


// @media screen and (max-width: 767px) {

// 	.search__container{

// 		.search__banner{
	
// 			max-width: 666px;
// 			width: 75vmax;
// 			max-height: 220px;
// 			height: 20vmin;
// 			min-height: 70px;
			
// 			h2{
// 				// font-size: 1.4rem;
// 				// font-weight: 400;
// 				// text-align: center;

// 				line-height: 40px;
// 				color: #555555;
// 				font-family: Arial, Gadget, sans-serif;
// 				margin: -2vmin 3vmin 5vmin 15vmin;
// 				font-size: 24px;
// 				font-weight: 700;
// 				// text-shadow: 0.5px 0.5px gray;

// 				justify-content: left;

// 			}
	
// 			.bigScreen{
// 				display: none;
// 			}

// 			.search__bar{

// 				bottom: 4vmin;
// 				height: 20px;
	
// 				input{

// 					width: 70%;
// 					height: 30px;
// 					font-size: 12px;	

// 				}
	
// 				button{

// 					height: 30px;
// 					width: 30px;

// 				}
// 			}
// 		}
// 	}
// }

// @media screen and (max-width: 374px) {

// 	.search__container{		
// 		.search__banner{
// 			h2{
// 				font-size: 1.2rem;
				
// 				.bigScreen{
// 					display: none;
// 				}
// 			}
// 		}
// 	}
// }
