*{

	// border: 1px black solid;
	// padding: 1px;
	
}


.moving__container{
	box-sizing: border-box;
	outline: none;
	padding: 0 17vw 0 17vw;
	width: 100%;

	display: inline-flex;
	// justify-content: center;
	// align-items: center;

	// height: 220px;
	height: 40vmin;
	// min-height: 170px;

	background: url('../../img/movingHelp.jpg') no-repeat 100%;
	background-size: 100% auto;


	.moving__desc{
	
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		background-color: white;

		align-items: flex-start;

		margin-top: 40vmin;
		width: 44vw;	
		
		opacity: 0.9;		
		height: max-content;
		
		h1{
			
			margin: 4rem 0 0 0;
			width: 100%;
						
			text-align: left;

			color: #333333;
			font-size: 3rem;
			font-weight: 700;
		}
		
		.review__star{

			display: inline-flex;
			margin-top: 1rem;

			img{
				
				width: 30px;
				padding: 0 3px 0 3px;
			}

			.review__number{
				margin: 5px 0 0 10px;
				font-size: 1.2rem;
				text-shadow: 0.1px 0.1px darkgray;
				
			}
		}

		p{
			margin: 2rem 10.5rem 0 0;
			color: #333333;
			font-size: 1.3rem;
			text-align: left;
			line-height: 2rem;
			
			img{
				
				width: 30px;
				padding: 0 3px 0 3px;
				margin-right: 10px;
			}

			span{
				color: #00c8fe;
			}
		}
	}


	.moving__banner{

		display: flex;
		flex-direction: column;
		

		// border-radius: 1vmin;
		// border: 1px lightgray solid;
		// box-shadow: 2px 2px 2px gray;

		opacity: 0.9;

		justify-content: center;
		align-items: flex-start;
		// text-align: center;
		
		margin-top: 10vh;
		width: 22vw;
		min-width: 250px;

		height: max-content;
		
	
		.moving__help{
			
			display: flex;
			flex-direction: column;
			width: 100%;
			height: max-content;

			border-radius: 1vmin;
			border: 1px lightgray solid;
			box-shadow: 2px 2px 2px gray;
			background-color: white;

			padding: 30px 20px 20px 20px;

			.zip__etc{

				// position: relative;
				// left:50%;
				// transform:translateX(-50%);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;

				// margin-top: 30px;
				padding: 10px 0 10px 0;
				// height: 70px;

			}

			.input__wide{
				
				height: 50px;
				font-size: 1.2rem;
				width: 100%;
				// max-width: 250px;
	
				margin: 10px 0 10px 0;
				padding: 0;
				// height: 50px;
	
				border-radius: 1vmin;
				border-width: thin;
				// background-color: white;
			}

			.input__fat{
				height: 200px;
			}

			h2{
			
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
	
				color: #333333;
				font-size: 1.5rem;
				
				margin: 10px 0 10px 0;
			}


			h3{
			
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
	
				color: #333333;
				font-size: 1.3rem;
				
				margin: 10px 0 10px 0;
			}

			button{
				background-color: #63B521;
				color: white;
				border-radius: 5px;
				border-width: thin;

				height: 70px;
				font-size: 1.5rem;
				width: 100%;
			}

			button:hover {
				background-color: #7EC850;

			}
		}
	}

	.term__use{
		
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 30px;

		color: darkgrey;
		font-size: 0.9rem;
		padding: 0 1.4vw 1.4vw 1.4vw;
	}
}


// @media screen and (min-width: 1220px) {
// 	.search__container{

// 		background: url('../../img/banner.jpg') no-repeat 100%;
// 		background-size: 100% auto;
		
// 		.search__banner{

// 			opacity: 0.9;

// 			max-width: 666px;
// 			width: 75vmax;
// 			max-height: 220px;
// 			height: 35vmin;
// 			min-height: 170px;

// 			margin: 9vmin;

// 			// h2{
// 			// 	line-height: 40px;
// 			// 	color: #555555;
// 			// 	font-family: Arial, Gadget, sans-serif;
// 			// 	padding: 5vmin 3vmin 0 3vmin;
// 			// 	font-size: 2.4rem;
// 			// 	font-weight: 700;
// 			// 	text-shadow: 0.5px 0.5px gray;

// 			// }

// 			// .smallScreen{
// 			// 	display: none;
// 			// }

// 			// .search__bar{

// 			// 	bottom: 4vmin;
// 			// 	height: 50px;

// 			// 	input{

// 			// 		width: 80%;
// 			// 		height: 50px;
// 			// 		font-size: 16px;
// 			// 		text-shadow: 0.3px 0.3px gray;

// 			// 	}

// 			// 	button{

// 			// 		height: 50px;
// 			// 		width: 50px;

// 			// 	}
// 			// }
// 		}
// 	}
// }



// @media screen and (min-width: 768px) and (max-width: 1219px) {
// 	.search__container{
		
// 		background: url('../../img/banner.jpg') no-repeat 100%;
// 		background-size: 100% auto;

		
// 		.search__banner{

// 			opacity: 0.9;
	
// 			max-width: 600px;
// 			width: 70vmax;
// 			min-width: 300px;
// 			max-height: 200px;
// 			height: 10vmin;
// 			min-height: 100px;


// 			margin: 2vmin 0 2vmin 0;

// 			h2{

// 				margin-top: 1.3vmax;
// 				padding: 0;
// 				font-size: 1.7rem;
// 				font-weight: 400;
// 				text-align: center;
// 			}
	
// 			.smallScreen{
// 				display: none;
// 			}

// 			.search__bar{
	
// 				bottom: 1.7vmax;
// 				height: 20px;
	
// 				input{

// 					width: 70%;
// 					height: 35px;
// 					font-size: 12px;	

// 				}
	
// 				button{

// 					height: 35px;
// 					width: 35px;

// 				}
// 			}
// 		}
// 	}
// }


// @media screen and (max-width: 767px) {

// 	.search__container{

// 		.search__banner{
	
// 			max-width: 666px;
// 			width: 75vmax;
// 			max-height: 220px;
// 			height: 20vmin;
// 			min-height: 70px;
			
// 			h2{
// 				// font-size: 1.4rem;
// 				// font-weight: 400;
// 				// text-align: center;

// 				line-height: 40px;
// 				color: #555555;
// 				font-family: Arial, Gadget, sans-serif;
// 				margin: -2vmin 3vmin 5vmin 15vmin;
// 				font-size: 24px;
// 				font-weight: 700;
// 				// text-shadow: 0.5px 0.5px gray;

// 				justify-content: left;

// 			}
	
// 			.bigScreen{
// 				display: none;
// 			}

// 			.search__bar{

// 				bottom: 4vmin;
// 				height: 20px;
	
// 				input{

// 					width: 70%;
// 					height: 30px;
// 					font-size: 12px;	

// 				}
	
// 				button{

// 					height: 30px;
// 					width: 30px;

// 				}
// 			}
// 		}
// 	}
// }

// @media screen and (max-width: 374px) {

// 	.search__container{		
// 		.search__banner{
// 			h2{
// 				font-size: 1.2rem;
				
// 				.bigScreen{
// 					display: none;
// 				}
// 			}
// 		}
// 	}
// }
