.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    // width: 20%;
    .title{
        font-size: 40px;
    }
    ul {
        padding-inline-start: 0px;
    }
            li {
                list-style-type: none;
                padding-left: 0px;
                font-size: 30px;
            }
}