.faq_container {
  padding: 2em 0 2em 0;
  margin: 0 auto;
  background-color: #ffffff;
}
.faq_head {
  font-size: 1.6em;
  font-weight: 525;
  // margin-bottom: 1em;
  line-height: 1.5;
  text-align: center;
}
.faq_list-layout {
  // padding: 0 0.5em 0 0.5em;
  padding-left: 0em;
  list-style: none;
  // border: solid red;
}
.faq_section {
    // background-color: white;
    color: black;
    cursor: pointer;
    padding: 0;
    margin-left: 0;
    // width: 100%;
    // border: none;
    text-align: left;
    outline: none;
    font-size: 0.9375em;
    transition: 0.3s;
    list-style: none;
    box-sizing: border-box;
  }
  .faq_title_container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    
  }
  .faq_title {
    margin-top: 0.6em;
    // padding-left: 0.4em;
    padding-bottom: 1em;
    font-weight: 500;
    font-size: 1.2em;
    // margin-bottom: 1em;
  }
  .faq_symbol-inline{
    // padding-right: 0.4em;
    color: #777;
    font-size: 1.6em;
    font-weight: 525;
  // margin-bottom: 1em;
    line-height: 1.5;
  }
  
  .faq_paragraph{
    padding-top: 0.4em;
    line-height: 1.3;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-weight: 400;
  }



  // .faq_title:after {
  //   content: '\002B';
  //   color: #777;
  //   font-weight: bold;
  //   float: right;
  //   margin-left: 5px;
  // }
  @media (min-width: 768px){
    .faq_symbol-inline{
      padding-right: 1em;
    }
    .faq_title{
      padding-left: 1em;
    }
    .faq_paragraph{
      margin-left: 2em;
    }

  }

  @media (min-width: 768px) and (max-width: 1219px) {
    .faq_container{
      max-width: 768px;
      
    }
  }

  @media(min-width: 1220px){
    .faq_container{
      max-width: 60vw;
      
    }
  }
  
  // .active:hover  .faq_title:after {
  //   content: '\2212';
  // }