.list_layout {
    display:flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    border: black solid;
    box-sizing: border-box;
}
.li-container_flex { 
    width: 14.55em;
    height:  13.9758em;
    border: black solid;
    margin-right: 4em;
    display:flex;
    flex-direction: column;
}
.img-container{
    height:12em;
}
.task_description {
    flex:1;
    border: black solid;
    text-align: center;
}
