.intro_width-override{
    margin-left: calc(50% - 50vw);   
    width: 100vw;
    height: 16em;
    box-sizing: border-box;
    padding-bottom:4em;
    background-color: rgba(67, 67, 67, 0.1);
}
@media (max-width: 767px){
    .intro_width-override{
        padding-top: 0.5em;
        margin-top: 1em;
        .intro_subtitle{
            // margin:auto;        
            font-weight: 550;
            font-size: 20px;
            overflow: hidden;
        }
    }
    .professional_intro_container-flex{
        text-align: center;
    }  
    .professional_intro_container-bottom{
        margin-top: 2em;
        text-align: center;
    }
    .learn-more{
        display: inline-block;
        width: 100vw;
    }
}
@media (min-width:768px){
    .intro_width-override{
        padding-top: 4em;
        margin-top: 5em;}
    .professional_intro_container-flex{
    display: flex;
    justify-content: center;
    height:4em;
    .intro_subtitle{
        // margin:auto;
        padding-top: 0.4em;
        font-weight: 500;
        font-size: 30px;
        overflow: hidden;
        // border: solid red;
        // justify-self: center;
    }
}
.professional_intro_container-bottom{
    text-align: center;
  
   margin: 1.5em auto;
}
}
@media (min-width: 1220px) {
    .professional_intro_container-bottom{
        width: 70vw;
        margin: 2em auto;
        font-size: 20px;
     }
}
  
.shield-svg{
    height: 4em;
    width: 3em;
    // border: black solid;
    // justify-self: center;
}
