.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin-left: 10vh;
    margin-right: 10vh;
    h2 {
        text-align: center;
        font-size: 30px;
    }
}