*{

    // border: 1px black solid;
	// padding: 1px;

}


@media screen and (min-width: 768px) {

    .mini__cata__bar{
        display: none;
    }
}


@media screen and (max-width: 767px) {

    .mini__cata__bar{

        background-color: white;
        padding: 10px 0 2px 0;
        position: sticky;
        top: 0px;
    
        a{
            color: #333333;
        }
    
        ul{

            margin: 10px 0 10px 0;
            padding-bottom: 10px;
    
            width: 100%;

			white-space: nowrap;
			vertical-align: top;
			
			overflow-x: scroll;
            overflow-y: hidden;
            
            // those lines could make the nav / catalog bar from vertical to horizontal

            li{

                display: inline-block;
                vertical-align: top;
                width: min-content;
                margin: 0 10px 0 10px;
                padding: 0 10px 0 10px;

                list-style-type: none;
                // border: white;
    
                a{
                    // width: min-content;
                    
                    font-family: Arial, Helvetica, sans-serif;                    
                }
            }
        }
    }
}
