*{

	// border: 1px black solid;
	// padding: 1px;

}


.service__center{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.service__page{

		padding: 1px;
	
		display: flex;
		box-sizing: border-box;
		outline: none;
		padding: 0;
		
		justify-content: center;

		.cata__spacing{
			padding: 3rem 0 0 2rem;
		}
	}
}



@media screen and (min-width: 768px) {

	.service__center{
		// background-color: red;
		.service__page{
			// width: 65vw;
			max-width: 1220px;
		}
	}
}

@media screen and (max-width: 767px) {

	.service__center{
		padding: 0;
		margin: 0;
		.service__page{
			padding: 0;
			margin: 0;
			.cata__spacing{
				padding: 0;
				margin: 0;
			}
		}
	}
}

