*{

	// border: 1px black solid;
	// padding: 1px;

}

.service__page{
	
	// font-size: 16px;
	
	display: flex;
	box-sizing: border-box;
	outline: none;
	padding: 0;
	
	// justify-content: center;
	// align-items: center;

}
