.checkout {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    margin: 2rem 4rem;
    &_price {
        width: 4rem;
        // background-color: #f00;
        margin: 2rem;
    }
    &_btn {
        // width: 4rem;
        // background-color: #ff0;
        width: fit-content;
        margin: 2rem;
    }
}