*{

	// border: 1px black solid;
	// padding: 1px;
	
}


.tv__container{
	box-sizing: border-box;
	outline: none;
	padding: 0;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	// height: 220px;
	height: 40vmin;
	// min-height: 170px;

	background: url('../../../img/tvMounting.jpg') no-repeat 100%;
	background-size: 100% auto;

	position: relative;
			
	.tv__banner{

		position: absolute;
		display: flex;
		flex-wrap: wrap;

		// background-color: white;

		// min-width: 300px;
		// font-size: 2px;

		justify-content: center;
		align-items: flex-start;
		// text-align: center;
		
		margin-top: 20vmin;
		opacity: 0.9;

		// min-width: 50vw;
		max-width: 1200px;
		width: 65vw;
		min-width: 550px;
	
		// border-radius: 1vmin;
		// border: 1px lightgray solid;
		// box-shadow: 2px 2px 2px gray;
		
		height: max-content;

		.tv__mounting{
			
			width: 100%;
			margin-top: 4vh;
			padding: 4vh 0 4vh 0;
			position: relative;
			
			background-color: white;
			height: max-content;
			
			// border-radius: 0.5vmin;
			border: 1px lightgray solid;
			box-shadow: 2px 2px 2px gray;
			
			h2{
			
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
	
				color: #333333;
				font-size: 2.5rem;
				
			}

			.review__star{

				display: flex;
				justify-content: center;

				img{
					
					// margin-top: -8px;
					width: 30px;
					padding: 0 3px 0 3px;
				}

				.review__number{
					margin: 5px 0 0 10px;
					font-size: 1.2rem;
					text-shadow: 0.1px 0.1px darkgray;
					
				}
			}



			.zip__etc{

				// position: absolute;
				// left:50%;
				// transform:translateX(-50%);
				display: flex;
				justify-content: center;
				// width: auto;

				margin-top: 30px;
				padding: 10px 50px 10px 50px;
				height: 70px;

			}


			
			.email__price{

				display: flex;
				justify-content: center;
				// margin-top: 30px;
				padding: 10px 50px 10px 50px;
				height: 70px;


				input{
					max-width: 360px;
					margin: 0 10px 0 10px;
				}

				button{
					background-color: #63B521;
					color: white;
					border-radius: 5px;
					border-width: thin;

					height: 50px;
					font-size: 1.3rem;
					width: 20vw;
					max-width: 360px;
				}

				button:hover {
					background-color: #7EC850;

				}
			}

			.input__wide{
				height: 50px;
				font-size: 1.2rem;
				width: 18vw;
				max-width: 250px;
	
				margin: 0 10px 0 10px;
				padding: 0 10px 0 10px;
				height: 50px;
	
				border-radius: 3px;
				border-width: thin;
				// background-color: white;
			}

			.input__narrow{
				height: 50px;
				font-size: 1.2rem;
				width: 14vw;
				max-width: 185px;
	
				margin: 0 10px 0 10px;
				padding: 0 10px 0 10px;
				height: 50px;
	
				border-radius: 3px;
				border-width: thin;
				// background-color: white;
			}

		}
	}

	.term__use{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 10px;

		color: gray;
		font-size: 0.9rem;
		padding: 10px 5vw 10px 5vw;
	}
}


// @media screen and (min-width: 1220px) {
// 	.search__container{

// 		background: url('../../img/banner.jpg') no-repeat 100%;
// 		background-size: 100% auto;
		
// 		.search__banner{

// 			opacity: 0.9;

// 			max-width: 666px;
// 			width: 75vmax;
// 			max-height: 220px;
// 			height: 35vmin;
// 			min-height: 170px;

// 			margin: 9vmin;

// 			// h2{
// 			// 	line-height: 40px;
// 			// 	color: #555555;
// 			// 	font-family: Arial, Gadget, sans-serif;
// 			// 	padding: 5vmin 3vmin 0 3vmin;
// 			// 	font-size: 2.4rem;
// 			// 	font-weight: 700;
// 			// 	text-shadow: 0.5px 0.5px gray;

// 			// }

// 			// .smallScreen{
// 			// 	display: none;
// 			// }

// 			// .search__bar{

// 			// 	bottom: 4vmin;
// 			// 	height: 50px;

// 			// 	input{

// 			// 		width: 80%;
// 			// 		height: 50px;
// 			// 		font-size: 16px;
// 			// 		text-shadow: 0.3px 0.3px gray;

// 			// 	}

// 			// 	button{

// 			// 		height: 50px;
// 			// 		width: 50px;

// 			// 	}
// 			// }
// 		}
// 	}
// }



// @media screen and (min-width: 768px) and (max-width: 1219px) {
// 	.search__container{
		
// 		background: url('../../img/banner.jpg') no-repeat 100%;
// 		background-size: 100% auto;

		
// 		.search__banner{

// 			opacity: 0.9;
	
// 			max-width: 600px;
// 			width: 70vmax;
// 			min-width: 300px;
// 			max-height: 200px;
// 			height: 10vmin;
// 			min-height: 100px;


// 			margin: 2vmin 0 2vmin 0;

// 			h2{

// 				margin-top: 1.3vmax;
// 				padding: 0;
// 				font-size: 1.7rem;
// 				font-weight: 400;
// 				text-align: center;
// 			}
	
// 			.smallScreen{
// 				display: none;
// 			}

// 			.search__bar{
	
// 				bottom: 1.7vmax;
// 				height: 20px;
	
// 				input{

// 					width: 70%;
// 					height: 35px;
// 					font-size: 12px;	

// 				}
	
// 				button{

// 					height: 35px;
// 					width: 35px;

// 				}
// 			}
// 		}
// 	}
// }


// @media screen and (max-width: 767px) {

// 	.search__container{

// 		.search__banner{
	
// 			max-width: 666px;
// 			width: 75vmax;
// 			max-height: 220px;
// 			height: 20vmin;
// 			min-height: 70px;
			
// 			h2{
// 				// font-size: 1.4rem;
// 				// font-weight: 400;
// 				// text-align: center;

// 				line-height: 40px;
// 				color: #555555;
// 				font-family: Arial, Gadget, sans-serif;
// 				margin: -2vmin 3vmin 5vmin 15vmin;
// 				font-size: 24px;
// 				font-weight: 700;
// 				// text-shadow: 0.5px 0.5px gray;

// 				justify-content: left;

// 			}
	
// 			.bigScreen{
// 				display: none;
// 			}

// 			.search__bar{

// 				bottom: 4vmin;
// 				height: 20px;
	
// 				input{

// 					width: 70%;
// 					height: 30px;
// 					font-size: 12px;	

// 				}
	
// 				button{

// 					height: 30px;
// 					width: 30px;

// 				}
// 			}
// 		}
// 	}
// }

// @media screen and (max-width: 374px) {

// 	.search__container{		
// 		.search__banner{
// 			h2{
// 				font-size: 1.2rem;
				
// 				.bigScreen{
// 					display: none;
// 				}
// 			}
// 		}
// 	}
// }
