.pro-header {
    background-color: #ecf5f8;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .pro-content-container {
        // display: inline-block;
        // align-self: flex-start;
        .title {
            // background-color: #434343;
            color: #000;
            font-size: 18px;
            padding-left: 10px;
        }
        .desc {
            font-size: 18px;
            word-wrap: break-word;
            word-break: break-all;
            padding-left: 10px;
        }
    }
    
    .image-container {
        margin-top: 150px;
        display: flex;
        justify-content: center;
        img {
            width: 500px;
            height: 350px;
        }
    }
    @media (min-width:768px) and (max-width:1220px) {
        .image-container {
            display: none;
        }
    }
}



@media (min-width:375px) and (max-width: 768px) {

}