.share {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: solid rgba(235, 233, 233, 0.733) 1px;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        justify-content: flex-start;
        .icon {
            overflow: hidden;
            border-radius: 50%;
            border-color: #fff;
            border-width: 2px;
            img {
                width: 50px;
                height: 50px;   
            }            
        }
        
    }
}