.apply-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    .form {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-content: flex-start;

       
        .form-up {
            display: flex;
            // flex-direction: row;
            justify-content: space-between;
            align-content: flex-start;
            align-items: stretch;
            
            
            input {
                padding: 10px;
                border-radius: 5px;
                border-style: none;
                font-size: 1.22em;
                // margin-top: 20px;
            }
            
        }
        .select {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            margin-top: 20px;
            select {
                // margin-top: 20px;
                // margin-left: 10px;
                padding: 10px;
                border-radius: 5px;
                font-size: 1.22em;
                background-color: #fff;
                margin: 0;
            }
        }
        .submit-btn {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: stretch;
            margin-top: 20px;
            
            input {
                border-radius: 5px;
                border-style: none;
                font-size: 1.22em;
                padding: 10px;
                background-color: rgb(23, 160, 34);
                color: #fff;
                
            }
        }
    }
}
    .hint {
        font-size: 1.1em;
        font-weight: 200;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    
}
@media (max-width: 375px) {
    .apply-form {
        justify-content: center;
    }
    .form-up {
        flex-direction: column;
        input {
            margin: 10px 30px;
        }
    }
    .select {
        margin: 10px 30px;
    }
    .submit-btn {
        margin: 10px 30px;
    }
    .hint {
        margin: 10px 30px;
    }
}
@media (min-width:376px) and (max-width:425px) {
    .apply-form {
        justify-content: center;
    }
    .form-up {
        flex-direction: column;
        input {
            margin: 10px 30px;
        }
    }
    .select {
        margin: 10px 30px;
    }
    .submit-btn {
        margin: 10px 30px;
    }
    .hint {
        margin: 10px 30px;
    }
}

@media (min-width:426px) and (max-width: 768px) {
    .apply-form {
    
    .form-up {
        flex-direction: column;
        justify-content: center;
        // background-color: #f00;
        input {
            // margin-top: 20px;
            // margin-left: 20px;
            margin: 10px 30px;
            max-width: 400px;
        }
    }
}
    select {
        max-width: 400px;
    }
    .select {
        margin-left: 20px;
        max-width: 400px;
    }
    .submit-btn {
        max-width: 400px;
        margin-left: 20px;
    }
}
@media (min-width:769px) and (max-width:1220px) {
    
    .form-up {
        flex-direction: row;
        margin-top: 20px;
        input {
            margin-left: 20px;
        }
    }
    select {
        width: 45%;
    }
    .select {
        margin-left: 20px;
    }
    .submit-btn {
        width: 45%;
        margin-left: 20px;
    }
}

@media (min-width:1221px) and (max-width:1440px) {
    .form-up {
        flex-direction: row;
        margin-top: 20px;
    }
    .submit-btn {
        width: 45%;
    }
    select {
        width: 45%;
    }
}

@media (min-width:1441px) {
    .form-up {
        flex-direction: row;
        margin-top: 20px;
    }
    .submit-btn {
        width: 45%;
    }
    select {
        width: 45%;
    }
}