@import "../../bootstrap/bootstrap.min.css";
.service__landing {
  //background-image: url("../../img/cleaning--landing.jpg");
  //background-position: center;
  //background-size: cover;
  height: 45vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
  .formContainer {
    background: white;
    padding: 5%;
    transform: translateY(40%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}
@media screen and (min-width: 768px) {
  .service__landing {
    background-image: url("../../img/cleaning--landing.jpg");
    background-position: center;
    background-size: cover;
  }

  .service__what{

    .service__what--bedroom {
      background-repeat: no-repeat;
      background-position: left top;
      background-image: url("../../img/bedroom.jpg");
      .points--card {
        transform: translateX(20%);
        flex: 0 0 40%;
      }


    }
    .service__what--bathroom {
      background-repeat: no-repeat;
      background-position: right top;
      background-image: url("../../img/bathroom.jpg");
      .points--card {
        transform: translateX(-20%);
        flex: 0 0 40%;
      }

    }
    .service__what--kitchen {
      background-repeat: no-repeat;
      background-position: left top;
      background-image: url("../../img/kitchen.jpg");
      .points--card {
        transform: translateX(20%);
        flex: 0 0 40%;
      }

    }
    .service__what--extras {
      background-repeat: no-repeat;
      background-image: url("../../img/extras.jpg");
      background-position: right top;
      .points--card {
        transform: translateX(-20%);
        flex: 0 0 40%;
      }

    }
  }


}

  .service__what {
    .heading--primary {
      text-align: center;
    }
    [class*="service__what--"] {
      height: 350px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      .points--card {
        width: 80%;
        background: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        padding: 1.5rem;
      }
    }


  }
.service__intro {
  margin-top: 30vh;
  .heading--primary {
    text-align: center;
  }

  .service__sellingpoint {
    text-align: center;
    margin: 2rem 0;
    h3 {
      margin: 1.5rem 0;
    }
  }
}

.service__how {
  margin: 15vh 0;
  .how__box {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    .heading--box {
      margin-top: 10vh;
      text-align: center;
    }
    .paddingBox {
      padding: 15%;
      text-align: center;
      h4 {
        margin-bottom: 1.5rem;
      }
    }
  }
}


.service__faq {
  margin: 15vh 0;
  .heading--primary {
    text-align: center;
  }
}

.service__meetpros {
  padding: 5rem;
  .heading--primary {
    text-align: center;
    margin-bottom: 5%;
    h4 {
      font-size: 1.3rem;
      color: grey;
    }
  }
  .card--pros {
    max-width: 90%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 10%;
    .card--profile {
      padding: 5%;
      height: 40%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      border-bottom: solid 1px gainsboro;
      .card--avatar {
        flex: 0 0 30%;
        border-radius: 50%;
        width: 30%;
        height: 100%;
      }
      .card--profileDetailsBox {
        flex: 0 0 60%;
        .card--profileName {
        }
        .card--profileRating {
        }
        .card--profileJobs {
        }
      }
    }
    .card--intro {
      //padding: 5% 10%;
      margin: 5% 0;
      height: 60%;
    }
  }
}

.service__introDetails{
  h2 {
    text-align: center;
    line-height: 5rem;
  }
  p{
    line-height: 1.6rem;
    margin: 2rem 0;
  }
  .line-break{
    border-bottom: solid gainsboro 2px;
  }
}
