*{

	// border: 1px black solid;
	// padding: 1px;
	
}


.moving__container{
	box-sizing: border-box;
	outline: none;
	padding: 0 14vw 0 14vw;
	width: 100%;

	display: inline-flex;
	// justify-content: center;
	// align-items: center;

	// height: 220px;
	height: 40vmin;
	// min-height: 170px;

	background: url('../../../img/movingHelp.jpg') no-repeat 100%;
	background-size: 100% auto;


	.moving__desc{
	
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		background-color: white;

		align-items: flex-start;

		margin-top: 40vmin;
		width: 44vw;	
		
		opacity: 0.9;		
		height: max-content;
		
		h1{
			
			margin: 4rem 0 0 0;
			width: 100%;
						
			text-align: left;

			color: #333333;
			font-size: 3rem;
			font-weight: 700;
		}
		
		.review__star{

			display: inline-flex;
			margin-top: 1rem;

			img{
				
				// margin-top: -8px;
				width: 30px;
				padding: 0 3px 0 3px;
			}

			.review__number{
				margin: 5px 0 0 10px;
				font-size: 1.2rem;
				text-shadow: 0.1px 0.1px darkgray;
				
			}
		}

		p{
			margin: 20px 60px 0 0;
			color: #333333;
			font-size: 1.3rem;
			text-align: left;
			line-height: 2rem;
			
			img{
				
				// margin-top: -8px;
				width: 30px;
				padding: 0 3px 0 3px;
				margin-right: 10px;
			}

			span{
				color: #00c8fe;
			}
		}
	}


	.moving__banner{

		display: flex;
		flex-direction: column;
		

		// border-radius: 1vmin;
		// border: 1px lightgray solid;
		// box-shadow: 2px 2px 2px gray;

		opacity: 0.9;

		justify-content: center;
		align-items: flex-start;
		// text-align: center;
		
		margin-top: 10vh;
		width: 22vw;
		min-width: 250px;

		height: max-content;
		
	
		.moving__help{
			
			display: flex;
			flex-direction: column;
			width: 100%;
			height: max-content;

			border-radius: 1vmin;
			border: 1px lightgray solid;
			box-shadow: 2px 2px 2px gray;
			background-color: white;

			padding: 30px 20px 20px 20px;

			.zip__etc{

				// position: relative;
				// left:50%;
				// transform:translateX(-50%);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;

				// margin-top: 30px;
				padding: 10px 0 10px 0;
				// height: 70px;

			}

			.input__wide{
				
				height: 50px;
				font-size: 1.2rem;
				width: 100%;
				// max-width: 250px;
	
				margin: 10px 0 10px 0;
				padding: 10px;
				// height: 50px;
	
				border-radius: 1vmin;
				border-width: thin;
				// background-color: white;
			}

			.input__fat{
				height: 200px;
			}

			h2{
			
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
	
				color: #333333;
				font-size: 1.5rem;
				
				margin: 10px 0 10px 0;
			}


			h3{
			
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
	
				color: #333333;
				font-size: 1.3rem;
				
				margin: 10px 0 10px 0;
			}

			button{
				background-color: #63B521;
				color: white;
				border-radius: 5px;
				border-width: thin;

				height: 70px;
				font-size: 1.5rem;
				width: 100%;
			}

			button:hover {
				background-color: #7EC850;

			}
		}
	}

	.term__use{
		
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 30px;

		color: darkgrey;
		font-size: 0.9rem;
		// padding: 0 1vw 1.4vw 1vw;
	}
}


@media screen and (min-width: 1220px) {

}


@media screen and (min-width: 768px) and (max-width: 1219px) {

}


@media screen and (max-width: 767px) {

}


@media screen and (max-width: 374px) {

}

