.slideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    padding-left: 20px;
    margin-top: 100px;
    border-radius: 5px;
    width: 100%;
    .carousel {
        border-radius: 5px;
    }
}